@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "AuthenticatedUser")]

<PageTitle>Home</PageTitle>

@if(@_output != null) 
{
    <h1>@_output</h1>
}

Welcome to your new app.

@code {
    private string? _output;
    protected override void OnInitialized()
    {
        _output = "H1 Oskar";
    }
}
